<a href="https://colab.research.google.com/github/FabriceD1/Predicting_NBA_Wins/blob/main/NBA_Webscraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###PER GAME STATS

#Create List of the years
Lets do 10 years of nba data from 2013 to 2023

Set the range from 2013-2024

In [ ]:
years = list(range(2013, 2024))

Lets see our list by calling the variable years

In [ ]:
years

[2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]

###Lets create a vairable for the url we want to scrape

In [ ]:
url_start = "https://www.basketball-reference.com/leagues/NBA_{}.html"

Create a folder to store our html code for each website into our working directory

In [ ]:
!mkdir nba_stats

mkdir: cannot create directory ‘nba_stats’: File exists

Send a request to obtain the html code

In [ ]:
import requests

for year in years:
  url = url_start.format(year)
  data = requests.get(url)

  with open("nba_stats/{}.html".format(year), "w+") as f:
    f.write(data.text)

In [ ]:
from bs4 import BeautifulSoup

In [ ]:
with open("nba_stats/2013.html") as f:
  page = f.read()

In [ ]:
soup = BeautifulSoup(page, "html.parser")

If we look at the Per Game Stat table on the BasketballReference Page, we notice there is an extra row to seperate the bottom half of the teams. We do not want an extra header row when upload our data to PANDAS. Thus, we will use soup find to look for the specific tr code that has a class called thead. Decompose will remove any elements that we find

In [ ]:
soup.find('tr', class_= "thead").decompose()

In [ ]:
soup.find('tfoot').decompose()

Because we only want the Per Game Stat table, lets remove all other elements from the page that we will not need

In [ ]:
stat_table = soup.find(id="per_game-team")

In [ ]:
import pandas as pd

In [ ]:
stat_2013 = pd.read_html(str(stat_table))[0]

In [ ]:
stat_2013

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Denver Nuggets*,82,242.7,40.7,85.2,0.478,6.4,18.5,0.343,...,0.701,13.3,31.7,45.0,24.4,9.3,6.5,15.3,20.5,106.1
1,2,Houston Rockets*,82,241.2,38.1,82.7,0.461,10.6,28.9,0.366,...,0.754,11.1,32.3,43.4,23.2,8.3,4.4,16.4,20.3,106.0
2,3,Oklahoma City Thunder*,82,241.8,38.1,79.3,0.481,7.3,19.4,0.377,...,0.828,10.4,33.2,43.6,21.4,8.3,7.6,15.3,20.2,105.7
3,4,San Antonio Spurs*,82,242.4,39.1,81.4,0.481,8.1,21.5,0.376,...,0.791,8.1,33.2,41.3,25.1,8.5,5.4,14.7,17.4,103.0
4,5,Miami Heat*,82,242.4,38.4,77.4,0.496,8.7,22.1,0.396,...,0.754,8.2,30.4,38.6,23.0,8.7,5.4,13.9,18.7,102.9
5,6,Los Angeles Lakers*,82,240.9,37.1,81.0,0.458,8.7,24.6,0.355,...,0.692,11.5,33.3,44.8,22.2,7.0,5.2,15.0,17.9,102.2
6,7,Golden State Warriors*,82,241.5,38.2,83.4,0.458,8.0,19.9,0.403,...,0.790,10.8,34.2,45.0,22.5,6.9,4.2,15.1,21.4,101.2
7,8,Los Angeles Clippers*,82,240.6,38.5,80.6,0.478,7.6,21.4,0.358,...,0.711,11.4,30.2,41.6,23.9,9.6,5.6,14.6,20.9,101.1
8,9,Dallas Mavericks,82,243.7,38.8,84.0,0.462,7.4,19.9,0.372,...,0.793,9.4,32.6,41.9,23.2,7.9,5.5,14.0,20.7,101.1
9,10,Sacramento Kings,82,241.8,37.6,84.2,0.447,7.4,20.5,0.363,...,0.769,11.5,29.1,40.6,20.8,8.2,4.2,14.6,20.9,100.2
10,11,New York Knicks*,82,240.6,36.5,81.6,0.448,10.9,28.9,0.376,...,0.759,10.9,29.7,40.6,19.3,8.2,3.6,12.0,20.1,100.0
11,12,Milwaukee Bucks*,82,241.8,38.1,87.8,0.435,7.3,20.4,0.360,...,0.736,13.0,30.9,44.0,22.9,8.4,6.7,14.1,19.0,98.9
12,13,Utah Jazz,82,242.4,37.1,81.8,0.454,6.2,16.9,0.366,...,0.764,12.1,30.0,42.0,22.7,8.4,6.3,14.8,21.3,98.0
13,14,Atlanta Hawks*,82,242.1,37.6,81.0,0.464,8.6,23.2,0.371,...,0.715,9.2,31.6,40.9,24.5,8.1,4.5,14.9,18.0,98.0
14,15,Portland Trail Blazers,82,242.1,36.7,81.9,0.448,8.2,23.2,0.353,...,0.776,10.7,30.2,40.8,21.8,6.6,4.3,14.7,18.5,97.5
15,16,Toronto Raptors,82,243.7,36.3,81.5,0.446,7.0,20.3,0.343,...,0.788,10.6,29.6,40.2,21.5,7.3,4.8,13.7,22.4,97.2
16,17,Brooklyn Nets*,82,242.1,35.9,79.8,0.450,7.7,21.5,0.357,...,0.731,12.8,30.0,42.8,20.3,7.3,4.8,14.7,18.3,96.9
17,18,Boston Celtics*,81,244.9,37.0,79.7,0.465,6.1,17.2,0.358,...,0.776,8.1,31.3,39.3,22.8,8.2,4.5,14.6,21.2,96.5
18,19,Cleveland Cavaliers,82,240.6,36.5,84.2,0.434,6.7,19.3,0.346,...,0.756,12.2,28.8,41.0,20.7,7.9,4.1,14.0,21.2,96.5
19,20,Minnesota Timberwolves,82,240.6,35.9,81.7,0.439,5.5,18.0,0.305,...,0.742,11.9,30.2,42.0,22.4,8.5,4.7,14.8,18.4,95.7
20,21,Phoenix Suns,82,241.5,37.3,84.4,0.443,5.9,17.7,0.330,...,0.744,11.7,29.9,41.6,22.6,8.0,5.3,15.6,20.6,95.2
21,22,Detroit Pistons,82,241.5,36.3,81.0,0.449,6.3,17.6,0.356,...,0.699,12.1,30.0,42.1,21.2,7.0,4.9,15.1,19.8,94.9
22,23,Indiana Pacers*,81,241.9,35.1,80.6,0.436,6.9,19.7,0.347,...,0.746,12.9,33.0,45.9,20.3,7.2,6.3,15.1,20.0,94.7
23,24,New Orleans Hornets,82,241.2,36.0,80.4,0.448,6.5,18.0,0.363,...,0.776,12.0,29.6,41.6,21.0,6.3,5.4,14.5,20.4,94.1
24,25,Orlando Magic,82,241.2,37.7,84.2,0.448,6.2,18.7,0.329,...,0.755,10.9,31.9,42.7,22.8,6.4,4.4,14.5,19.4,94.1
25,26,Memphis Grizzlies*,82,241.5,36.1,81.5,0.444,4.7,13.5,0.345,...,0.773,12.9,29.8,42.7,20.9,8.6,5.3,14.0,20.2,93.4
26,27,Charlotte Bobcats,82,241.5,34.4,81.1,0.425,5.7,17.1,0.335,...,0.750,11.2,29.1,40.3,19.4,7.2,5.8,14.1,19.0,93.4
27,28,Philadelphia 76ers,82,240.9,37.3,84.1,0.444,6.3,17.5,0.360,...,0.729,10.9,30.4,41.3,22.8,7.4,4.7,13.0,18.4,93.2
28,29,Chicago Bulls*,82,241.8,35.7,81.7,0.437,5.4,15.4,0.353,...,0.773,12.5,30.7,43.2,23.0,7.2,5.1,14.3,19.7,93.2
29,30,Washington Wizards,82,242.1,35.5,81.6,0.435,6.6,18.2,0.365,...,0.733,10.8,32.3,43.2,21.6,7.3,4.6,15.1,20.5,93.2

In [ ]:
dfs = []

for year in years:
  with open("nba_stats/{}.html".format(year)) as f:
    page = f.read()
  soup = BeautifulSoup(page, "html.parser")
  soup.find('tr', class_="thead").decompose()
  soup.find('tfoot').decompose()
  stat_table = soup.find(id="per_game-team")
  stat_years = pd.read_html(str(stat_table))[0]
  stat_years["Year"] = year

  dfs.append(stat_years)

In [ ]:
dfs

Lets combine all of the list of dataframes and combine them into one

In [ ]:
df_stats = pd.concat(dfs)
df_stats

In [ ]:
df_stats.to_csv("nba_stats.csv")

###ADVANCED STAT STATISITICS

In [ ]:
soup.find('tr', class_= "over_header").decompose()

In [ ]:
advanced_table= soup.find(id="advanced-team")

In [ ]:
advanced_2013 = pd.read_html(str(advanced_table))

In [ ]:
advanced_2013

In [ ]:
dfs_advanced = []

for year in years:
  with open("nba_stats/{}.html".format(year)) as f:
    page = f.read()
  soup = BeautifulSoup(page, "html.parser")
  soup.find('tr', class_="over_header").decompose()
  soup.find('tfoot').decompose()
  advanced_table = soup.find(id="advanced-team")
  advanced_years = pd.read_html(str(advanced_table))[0]
  advanced_years["Year"] = year

  dfs_advanced.append(advanced_years)

In [ ]:
dfs_advanced

In [ ]:
advanced_stats = pd.concat(dfs_advanced)
advanced_stats

In [ ]:
advanced_stats = advanced_stats.drop(columns=['Unnamed: 17','Unnamed: 22','Unnamed: 27'])
advanced_stats_cleaned = advanced_stats.loc[advanced_stats['Team'] != 'League Average']

In [ ]:
advanced_stats_cleaned

In [ ]:
advanced_stats_cleaned.to_csv("advanced_stats.csv")

Merge the two data sets by Team and the Year

In [ ]:
# merge the two data sets by team name and year
merged_data = pd.merge(df_stats, advanced_stats, on=["Team", "Year"])

# Remove the Unnamed, Rk, Arena, Attend., and Attend./G columns

In [ ]:
merged_data = merged_data.loc[:, ~merged_data.columns.str.contains('^Unnamed|^Rk|^Arena$|^Attend.$|^Attend./G$|^G$')]

In [ ]:
merged_data

,Team,MP,FG,FGA,FG%,3P,3PA,3P%,2P,2PA,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,eFG%.1,TOV%.1,DRB%,FT/FGA.1
0,Denver Nuggets,242.7,40.7,85.2,0.478,6.4,18.5,0.343,34.4,66.6,...,0.217,0.549,0.515,13.6,31.4,0.216,0.493,14.3,71.8,0.193
1,Houston Rockets,241.2,38.1,82.7,0.461,10.6,28.9,0.366,27.5,53.8,...,0.349,0.564,0.525,14.9,26.4,0.232,0.502,13.5,75.2,0.196
2,Oklahoma City Thunder,241.8,38.1,79.3,0.481,7.3,19.4,0.377,30.8,60.0,...,0.244,0.580,0.527,14.4,26.7,0.280,0.469,13.5,73.4,0.197
3,San Antonio Spurs,242.4,39.1,81.4,0.481,8.1,21.5,0.376,31.1,59.9,...,0.264,0.568,0.531,14.0,20.5,0.204,0.480,13.7,74.9,0.179
4,Miami Heat,242.4,38.4,77.4,0.496,8.7,22.1,0.396,29.6,55.4,...,0.285,0.588,0.552,13.7,22.2,0.224,0.487,14.8,73.0,0.200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,Orlando Magic,241.2,40.5,86.3,0.470,10.8,31.1,0.346,29.8,55.2,...,0.361,0.573,0.532,13.4,23.8,0.227,0.550,13.1,77.7,0.211
326,Charlotte Hornets,241.8,41.3,90.4,0.457,10.7,32.5,0.330,30.5,57.9,...,0.360,0.550,0.516,12.3,23.8,0.195,0.544,12.5,75.5,0.211
327,Houston Rockets,240.9,40.6,88.9,0.457,10.4,31.9,0.327,30.2,56.9,...,0.359,0.554,0.516,14.0,30.2,0.215,0.564,11.8,75.8,0.218
328,Detroit Pistons,241.5,39.6,87.1,0.454,11.4,32.4,0.351,28.2,54.6,...,0.372,0.561,0.520,13.3,24.9,0.227,0.557,11.9,74.0,0.231
329,Miami Heat,241.5,39.2,85.3,0.460,12.0,34.8,0.344,27.3,50.5,...,0.408,0.574,0.530,12.4,22.8,0.224,0.561,14.5,77.7,0.198

# Replace the asterisk character in team names

In [ ]:
merged_data['Team'] = merged_data['Team'].str.replace('*', '')

<ipython-input-27-7ac187f05c7a>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  merged_data['Team'] = merged_data['Team'].str.replace('*', '')
<ipython-input-27-7ac187f05c7a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_data['Team'] = merged_data['Team'].str.replace('*', '')

In [ ]:
merged_data

In [ ]:
# save the merged data as a new csv file
merged_data.to_csv("merged_data.csv", index=False)